		*{
			box-sizing: border-box;
		}
		body{
			margin: 0;
			text-transform: capitalize;
		}
		.menu{
			background-color: crimson;
			position: sticky;
			top: 0;
		}
		.menu a{
			display: inline-block;
			text-decoration: none;
			color: #fff;
			padding: 20px 30px;
			font-size: 1.3em;
		}
		.menu .right{
			float: right;
		}
		.menu .right:hover{
			background-color: rgba(100,100,255,1);
		}
		.menu .left{
			color: green;
		}
		.header{
			background-color: #333;
			color: #eee;
			font-size: 1.5em;
			padding: 205px 0;
			text-align: center;
		}
		.header p{
			color: crimson;
		}
		.container{
			background-color: darkcyan;
			margin-top: -25px;
			padding-bottom: 100px;
		}
		.container h1{
			text-align: center;
			padding-top: 100px;
			padding-bottom: 40px;
			color: #eee;
		}
		.container span{
			border-bottom: 2px solid;
			padding-bottom: 10px;
		}
		.flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.flex .item{
			width: 30%;
			padding: 10px 20px;
			cursor: pointer;
		}
		.flex img{
			width: 100%;
			height: 250px;
		}
		.flex .text{
			text-align: center;
			background-color: #555;
			padding: 20px 0;
			color: #fff;
			margin-top: -5px;
		}
		.text i{
			display: none;
			padding-left: 7px;
			padding-right: 7px;
			font-weight: bold;
		}
		.item:hover i{
			display: inline-block;
			color: orange;
		}
		.show{
			display: block;
			width: 170px;
			text-decoration: none;
			background-color: #555;
			padding: 5px 15px 10px;
			color: #fff;
			margin: auto;
			text-align: center;
			margin-top: 100px;
			font-size: 1.3em;
			transition: 0.5s;
		}
		.show i{
			font-weight: bold;
			transition: 0.5s;
			font-size: 1.5em;
		}
		.show:hover i{
			padding-left: 7px;
		}
		.show:hover{
			background-color: crimson;
		}
		.contact{
			background-color: darkslategray;
			padding: 100px 0;
			text-align: center;
			color: #fff;
			font-size: 1.3em;
		}
		.contact .flex2{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 100px;
		}
		.flex2 div:not(:last-child){
			margin-right: 40px;
		}
		.flex2 a{
			text-decoration: none;
			color: #fff;
		}
		.flex2 i{
			margin-right: 10px;
		}
		.flex2 div{
			transition: 0.5s;
		}
		.flex2 div:hover{
			transform: translateY(10px);
		}
		hr{
			font-weight: bold;
			color: crimson;
			padding: 1px 0;
			background-color: crimson;
		}
		.flex3{
			display: flex;
			justify-content: space-around;
			margin-top: 40px;
			margin-bottom: -40px;
			color: #aaa;
		}
		.flex3 a{
			text-decoration: none;
			color: #ddd;
		}
		@media screen and (max-width: 768px){
			.flex .item{
				width: 50%;
			}
			.flex3{
				flex-direction: column;
			}
			.item-footer{
				margin-top: 20px;
			}
			.flex2 div:not(:last-child){
				margin-right: 20px;
			}
		}
		@media screen and (max-width: 600px){
			.flex2 .item-contact{
				width: 100%;
				margin-top: 20px;
			}
			.flex .item{
				width: 100%;
			}
			.menu a{
				display: block;
			}
			.menu .right{
				float: none;
				text-align: center;
			}
		}